################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore.API/.vs/BookStore.API
/BookStore.API/BookStore.API/bin/Debug/net5.0
